{% extends 'glowny.html' %} <!-- rozszerzenie tego templejtu o zawartosc templejtu "glowny.html -->

{% block tytul %} potwierdzenie {% endblock %} <!-- wyświetlanie tytulu konkretnej strony html -->
{% load bootstrap %} <!-- zaladowanie apki bootstrap do templejtu -->

{% block strona %}

        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">Czy na pewno chcesz usunąć film {{ film.tytul }} ?</h5>

                    <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Usun film  </button>
                    </form>

                    <a href="{% url 'pierwsza_strona' %}"> <button type="submit" class="btn btn-info"> Cofnij do
                        Wszytskie filmy
                    <i class="fas fa-chevron-circle-left"></i></button>  </a>

            </div>
        </div>]



{% endblock %}