h2 {
    padding: 2rem;
    color: red;
}

i {
    color: blue;
}

.film-plakaty { /* odwołanie się do elementów oznaczonych class "film-plakaty" */
    width: 150px;
    float: left;
    }

.przyciski {
    float: right;/* ustawienie elementów oznaczonych class "przyciski" do prawej krawędzi */
}